<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'users/info', user: @book.user %>
      <%= render 'books/newbook', book: @book_new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
                <%= attachment_image_tag @book.user, :profile_image, fallback: "no-image.png", size:"40x40", class:"bd-placeholder-img align-self-center mx-3"%>
                <br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= @book.title %>
            </td>
            <td>
              <%=  simple_format @book.body %>
            </td>
            <td>
              <% if current_user.already_favorited?(@book) %>
                <%= link_to book_favorites_path(@book), method: :delete do %>
                  <i class="fas fa-heart"></i>
                <% end %>
                <%= @book.favorites.count %>
              <% else %>
                <%= link_to book_favorites_path(@book), method: :post do %>
                  <i class="far fa-heart"></i>
                <% end %>
                <%= @book.favorites.count %>
              <% end %>
            </td>
            <% if @book.user_id == current_user.id %>
            <td>
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}"  %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-sm btn-danger destroy_book_#{@book.id}", 'data-confirm' => "Are you sure?"  %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table class="table table-dark">
            <th>コメント件数：<%= @book.book_comments.count %></th>
            <% @book.book_comments.each do |book_comment| %>
            <% book_comment_user = book_comment.user %>
              <tr>
                <td>
                  <%= link_to user_path(book_comment_user) do %>
                    <%= attachment_image_tag book_comment_user, :profile_image, :fill, 50, 50, fallback: "no-image.png", size: "50x50" %><br>
                    <%= book_comment.user.name %>
                  <% end %>
                </td>
                <td>
                  <%= book_comment.created_at.strftime('%Y/%m/%d') %><br>
                  <%= simple_format book_comment.comment %>
                </td>
                <td>
                  <% if book_comment.user == current_user %>
                    <div class="comment-delete">
                      <%= link_to "削除", book_book_comment_path(@book, book_comment), method: :delete, class:'btn btn-danger' %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
      </table>
       <div class="new-comment">
        <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',class: "form-control",placeholder: "コメントをここに" %>
           <br>
          <%= f.submit "送信する",class: 'btn btn-success'%>
        <% end %>
      </div>
    </div>
  </div>
</div>