<!DOCTYPE html>
<html>
  <head>
    <title >Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= render 'layouts/header' %>
  <main>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <p><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
  </main>
    <%= render 'layouts/footer' %>
  </body>

</html>
